<section class="clubnieuws" id="clubnieuws">
    <div class="container">
        <h2>Clubnieuws</h2>
        <p class="clubnieuws-intro-text">Blijf op de hoogte van het laatste nieuws rondom KV TOGO! Hier vind je updates over wedstrijden, evenementen en andere belangrijke mededelingen.</p>
        <div class="clubnieuws-grid">
            <a class="clubnieuws-card-link" href="/nieuws/index.html?slug=lorem-ipsum-1">
                <article class="clubnieuws-card">
                    <img src="/assets/images/high-5.jpeg" alt="Clubnieuws 1" class="clubnieuws-image">
                    <h3>Lorem Ipsum 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                </article>
            </a>
            <a class="clubnieuws-card-link" href="/nieuws/index.html?slug=lorem-ipsum-2">
                <article class="clubnieuws-card">
                    <img src="/assets/images/happy.jpeg" alt="Clubnieuws 2" class="clubnieuws-image">
                    <h3>Lorem Ipsum 2</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</p>
                </article>
            </a>
            <a class="clubnieuws-card-link" href="/nieuws/index.html?slug=lorem-ipsum-3">
                <article class="clubnieuws-card">
                    <img src="/assets/images/change.jpeg" alt="Clubnieuws 3" class="clubnieuws-image">
                    <h3>Lorem Ipsum 3</h3>
                    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum.</p>
                </article>
            </a>
        </div>
    </div>
</section>

